{% extends "base/_frontend_container.twig" %}

{% block content_main %}
    <h1>{{ site.title }}</h1>
    <section>
        <p>This is the index page of {{ site.title }}. Log in to see more.</p>
    </section>
{% endblock %}