{% extends "base/_frontend_container.twig" %}
{% set navbar_dummy = 1 %}

{% block content_main %}
    <h1>{{ site.title }}</h1>
    <section>
        <p>Site is in maintenance mode.</p>
    </section>
{% endblock %}