{% extends "base/_frontend_full.twig" %}
{% set view_title = (files.pathsegments ? ((files.pathsegments|last).name ~ " - ") : "") ~ "Browse" %}

{% block content_main %}
    <script src="/static/js/component/SectionFileBrowser.js" type="module"></script>

    <section ac-section-file-browser
             class="full-content file-browser-frame">
        {% embed "component/layout_sidebar.twig"
            with {"sidebar_id": "files-left", "sidebar_side": "left", "sidebar_style": "uk-open uk-background-muted"} %}
            {% block sidebar_content %}
                {% include "component/files_nav_tree.twig" %}
                <ul class="uk-nav uk-nav-default">
                    <li><a href="/trash"><i uk-icon="trash"></i> Deleted files</a></li>
                </ul>
                {% include "base/_footer.twig" %}
            {% endblock %}
        {% endembed %}

        <div class="files-main">
            {% set hidden_enabled = 1 %}
            {% include "component/files_browser.twig" %}
        </div>

        {% embed "component/layout_sidebar.twig"
            with {"sidebar_id": "files-right", "sidebar_side": "right"} %}
            {% block sidebar_header %}
                <span id="files-right-title" class="uk-text-bold"></span>
            {% endblock %}
            {% block sidebar_content %}
                {% include "component/file_detail_bar.twig" %}
            {% endblock %}
        {% endembed %}
    </section>
{% endblock %}