{% extends "base/_frontend_container.twig" %}
{% set navbar_dummy = 1 %}

{% block content_main %}
    <script src="/static/js/component/SectionFileBrowser.js" type="module"></script>

    <section ac-section-file-browser>
        <div class="files-share">
            {% include "component/files_browser.twig" %}
        </div>
    </section>
{% endblock %}