html {
  color: black;
}

.uk-link, a {
  color: #555;
}

.uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover {
  color: #222;
}

.uk-background-primary {
  background-color: black;
}

.uk-icon > svg {
  max-width: none;
}

.uk-icon-link {
  cursor: pointer;
}

.uk-iconnav li {
  padding: 0 10px;
}

.uk-navbar-nav {
  color: #D2D2D2;
  font-weight: bold;
}
.uk-navbar-nav > li > a {
  min-height: 50px;
  color: #D2D2D2;
}
.uk-navbar-nav > li.uk-active > a, .uk-navbar-nav > li:hover > a {
  color: #929292;
}

.uk-navbar-dropdown-nav > li > a {
  color: black;
}
.uk-navbar-dropdown-nav > li:hover > a {
  color: #222;
}

.uk-nav-default {
  color: black;
}
.uk-nav-default .uk-nav-sub a, .uk-nav-default > li > a {
  color: #555;
}
.uk-nav-default .uk-nav-sub li.uk-active > a, .uk-nav-default .uk-nav-sub a:hover, .uk-nav-default > li:hover > a {
  color: #222;
}

.uk-nav.uk-text-right li > a {
  flex-direction: row-reverse;
}

.uk-breadcrumb > * > * {
  color: #555;
}
.uk-breadcrumb > * > :hover {
  color: #222;
}

* + .uk-table {
  margin-top: 0px;
}
.uk-table th {
  color: #555;
}
.uk-table tr.row-selected {
  background-color: #deebff !important;
}
.uk-table tr.row-focused > td {
  border-top: 1px solid #1c457e;
  border-bottom: 1px solid #1c457e;
}
.uk-table tr > td {
  white-space: nowrap;
}

.uk-description-list {
  padding: 10px 5px;
}
.uk-description-list dd {
  padding-left: 5px;
}

.uk-accordion {
  margin: 0;
}
.uk-accordion .uk-accordion-title {
  color: #555;
}
.uk-accordion li.uk-open > .uk-accordion-title,
.uk-accordion .uk-accordion-title:hover {
  color: #222;
}

.uk-button i.uk-icon {
  vertical-align: text-top;
}

.uk-form-stacked .uk-form-controls {
  margin-left: 5px;
}

.uk-fieldset {
  border: 1px solid #e5e5e5;
  padding: 5px;
  margin: 5px;
}

.uk-legend {
  color: #222;
  font-size: 0.875rem;
}

footer {
  border-top: 1px solid slategrey;
}

.full-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.full-wrapper > * {
  overflow: hidden;
  flex: 0 0;
}
.full-wrapper > .uk-navbar-container {
  overflow: initial;
}
.full-wrapper > .full-content {
  flex: 1 1;
}

.notification-warning {
  display: flex;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background: #faa05a;
  min-height: 50px;
  align-items: center;
}

details summary {
  cursor: pointer;
}

div.toolbar {
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 6px;
  margin-left: 0;
  border-radius: 3px;
}
div.toolbar .uk-button {
  padding: 0 15px;
  white-space: nowrap;
}
div.toolbar .uk-button, div.toolbar .toolbar-divider, div.toolbar .toolbar-group {
  margin-right: 5px;
}
div.toolbar .toolbar-divider {
  border-left: 1px solid #e5e5e5;
}
div.toolbar .toolbar-divider:last-child {
  display: none;
}
div.toolbar .toolbar-group {
  display: inline-flex;
  flex-wrap: nowrap;
}
div.toolbar .toolbar-group:not(:empty):not(:first-child) {
  border-left: 1px solid #e5e5e5;
  padding-left: 5px;
}
div.toolbar .toolbar-group:not(:empty):not(:last-child) {
  border-right: 1px solid #e5e5e5;
  padding-right: 5px;
}

div.data-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 5px;
  justify-content: space-between;
}
div.data-row > * {
  flex-grow: 1;
  flex-basis: content;
  min-width: 1px;
}
div.data-row > .data-column-shrink {
  flex-grow: 0;
  flex-basis: min-content;
}
div.data-row > .data-column-center {
  align-self: center;
}
div.data-row.data-column-center {
  align-items: center;
}

.ac-file-detail-bar, *[ac-file-detail-bar] {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.ac-file-detail-bar .uk-open, *[ac-file-detail-bar] .uk-open {
  flex-grow: 1;
}
.ac-file-detail-bar #selected-file-properties:not(.file-deleted) .deleted-file-only, *[ac-file-detail-bar] #selected-file-properties:not(.file-deleted) .deleted-file-only {
  display: none;
}
.ac-file-detail-bar #file-details-tab-shares .share-editor, *[ac-file-detail-bar] #file-details-tab-shares .share-editor {
  margin: 5px 0 5px -5px;
  padding: 5px 0 5px 5px;
  border-left: 1px solid #555;
  transition: height 0.2s ease;
}

#files-nav-tree {
  flex-grow: 1;
  min-height: 64px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

.ac-file-table, *[ac-file-table] {
  /* Default style */
  /* Tiled style */
}
.ac-file-table td, *[ac-file-table] td {
  padding-top: 6px;
  padding-bottom: 6px;
}
.ac-file-table td .uk-link, .ac-file-table td a, *[ac-file-table] td .uk-link, *[ac-file-table] td a {
  color: black;
}
.ac-file-table td .thumbnail-container, *[ac-file-table] td .thumbnail-container {
  display: none;
  height: 96px;
}
.ac-file-table td .thumbnail-container img, *[ac-file-table] td .thumbnail-container img {
  max-height: max-content;
}
.ac-file-table tr.row-deleted td, *[ac-file-table] tr.row-deleted td {
  opacity: 0.5;
}
.ac-file-table tfoot tr, *[ac-file-table] tfoot tr {
  border: 1px solid #e5e5e5;
}
.ac-file-table tfoot tr td, *[ac-file-table] tfoot tr td {
  text-align: center;
  font-style: italic;
}
.ac-file-table.view-tiledtable, *[ac-file-table].view-tiledtable {
  display: block;
}
.ac-file-table.view-tiled thead, *[ac-file-table].view-tiled thead {
  display: none;
}
.ac-file-table.view-tiled tr, *[ac-file-table].view-tiled tr {
  display: inline-flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 260px;
  height: 165px;
  margin: 6px;
  border: 1px solid #e5e5e5;
}
.ac-file-table.view-tiled tr.row-focused, *[ac-file-table].view-tiled tr.row-focused {
  border: 1px solid #1c457e;
}
.ac-file-table.view-tiled tr.row-focused > td, *[ac-file-table].view-tiled tr.row-focused > td {
  border: none;
}
.ac-file-table.view-tiled td, *[ac-file-table].view-tiled td {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 80%;
}
.ac-file-table.view-tiled td:first-of-type, *[ac-file-table].view-tiled td:first-of-type {
  font-size: 100%;
  flex-grow: 1;
  overflow: hidden;
}
.ac-file-table.view-tiled td:first-of-type .thumbnail-container, *[ac-file-table].view-tiled td:first-of-type .thumbnail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ac-file-table.view-tiled td:last-of-type, *[ac-file-table].view-tiled td:last-of-type {
  display: none;
}

.button-collapse,
.button-expand {
  cursor: pointer;
}

:not(.uk-open) .button-collapse {
  display: none;
}
:not(.uk-open) .button-expand {
  display: unset;
}

.uk-open .button-collapse {
  display: unset;
}
.uk-open .button-expand {
  display: none;
}

.sidebar-collapsible {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  transition: width 0.2s ease;
}
.sidebar-collapsible:not(.uk-open), .sidebar-collapsible.forced-closed {
  width: 1em !important;
}
.sidebar-collapsible:not(.uk-open) > :not(.sidebar-header), .sidebar-collapsible.forced-closed > :not(.sidebar-header) {
  display: none !important;
}
.sidebar-collapsible.forced-closed .button-collapse, .sidebar-collapsible.forced-closed .button-expand {
  display: none;
}

.sidebar-header {
  height: 2em;
  min-height: 2em;
  line-height: 2em;
  overflow: hidden;
  border-bottom: 1px solid slategrey;
}

.ac-sortable, *[ac-sortable] {
  user-select: none;
  -moz-user-select: none;
  cursor: default;
}
.ac-sortable th:not(.column-sortable) .sortable-arrow-up,
.ac-sortable th:not(.column-sortable) .sortable-arrow-down, *[ac-sortable] th:not(.column-sortable) .sortable-arrow-up,
*[ac-sortable] th:not(.column-sortable) .sortable-arrow-down {
  display: none;
}
.ac-sortable .column-sortable, *[ac-sortable] .column-sortable {
  cursor: pointer;
}
.ac-sortable .column-sortable:not(.column-sorted) .sortable-arrow-up,
.ac-sortable .column-sortable:not(.column-sorted) .sortable-arrow-down, *[ac-sortable] .column-sortable:not(.column-sorted) .sortable-arrow-up,
*[ac-sortable] .column-sortable:not(.column-sorted) .sortable-arrow-down {
  display: none;
}
.ac-sortable .column-sortable.column-sorted .sortable-arrow-up, *[ac-sortable] .column-sortable.column-sorted .sortable-arrow-up {
  display: initial;
}
.ac-sortable .column-sortable.column-sorted .sortable-arrow-down, *[ac-sortable] .column-sortable.column-sorted .sortable-arrow-down {
  display: none;
}
.ac-sortable .column-sortable.column-sorted.column-sorted-desc .sortable-arrow-up, *[ac-sortable] .column-sortable.column-sorted.column-sorted-desc .sortable-arrow-up {
  display: none;
}
.ac-sortable .column-sortable.column-sorted.column-sorted-desc .sortable-arrow-down, *[ac-sortable] .column-sortable.column-sorted.column-sorted-desc .sortable-arrow-down {
  display: initial;
}

.ac-upload-dropper, *[ac-upload-dropper] {
  display: none;
  border: 2px dashed #e5e5e5;
  padding: 30px;
}
.ac-upload-dropper.drag-over, *[ac-upload-dropper].drag-over {
  display: block;
}

.ac-upload-status, *[ac-upload-status] {
  margin-left: 0;
}
.ac-upload-status .upload-wrapper, *[ac-upload-status] .upload-wrapper {
  padding-left: 0;
  column-gap: 0;
}
.ac-upload-status .upload-wrapper .upload-name, *[ac-upload-status] .upload-wrapper .upload-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ac-upload-status .upload-wrapper .uk-progress, *[ac-upload-status] .upload-wrapper .uk-progress {
  margin: 0;
}
.ac-upload-status .upload-wrapper.upload-finished progress, *[ac-upload-status] .upload-wrapper.upload-finished progress {
  color: #32d296;
}
.ac-upload-status .upload-wrapper.upload-finished progress::-webkit-progress-value, *[ac-upload-status] .upload-wrapper.upload-finished progress::-webkit-progress-value {
  background-color: #32d296 !important;
}
.ac-upload-status .upload-wrapper.upload-finished progress::-moz-progress-bar, *[ac-upload-status] .upload-wrapper.upload-finished progress::-moz-progress-bar {
  background-color: #32d296 !important;
}
.ac-upload-status .upload-wrapper.upload-failed progress, *[ac-upload-status] .upload-wrapper.upload-failed progress {
  color: #f0506e;
}
.ac-upload-status .upload-wrapper.upload-failed progress::-webkit-progress-value, *[ac-upload-status] .upload-wrapper.upload-failed progress::-webkit-progress-value {
  background-color: #f0506e !important;
}
.ac-upload-status .upload-wrapper.upload-failed progress::-moz-progress-bar, *[ac-upload-status] .upload-wrapper.upload-failed progress::-moz-progress-bar {
  background-color: #f0506e !important;
}
.ac-upload-status .upload-wrapper .uk-text-small, *[ac-upload-status] .upload-wrapper .uk-text-small {
  white-space: nowrap;
  overflow: visible;
}
.ac-upload-status .upload-wrapper .uk-button, *[ac-upload-status] .upload-wrapper .uk-button {
  padding: 0;
  margin-right: 6px;
  /* limits for flex, setting width directly does not work */
  min-width: 20px;
  max-width: 20px;
}

.file-browser-frame {
  display: flex;
  flex-direction: row;
}
.file-browser-frame > div {
  overflow: hidden;
}
.file-browser-frame #files-left {
  width: 240px;
  border-right: 1px solid slategrey;
}
.file-browser-frame .files-main {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: auto;
}
.file-browser-frame #files-right {
  width: 300px;
  border-left: 1px solid slategrey;
}

.gallery-container {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* Controls */
  /* Slides */
  /* Main / Thumbnail layout */
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
}
.gallery-container .gallery-controls {
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #D2D2D2;
}
.gallery-container .gallery-controls button {
  width: 48px;
  height: 48px;
  padding: 0;
  background: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: #D2D2D2;
}
.gallery-container .gallery-controls button:hover {
  color: #929292;
}
.gallery-container .swiper-button-prev, .gallery-container .swiper-button-next {
  color: #D2D2D2;
}
.gallery-container .swiper-button-prev:hover, .gallery-container .swiper-button-next:hover {
  color: #929292;
}
.gallery-container .swiper-button-prev .swiper-button-disabled, .gallery-container .swiper-button-next .swiper-button-disabled {
  opacity: 0.7;
}
.gallery-container .swiper-slide .gallery-header {
  visibility: hidden;
}
.gallery-container .swiper:hover .gallery-header {
  visibility: visible;
}
.gallery-container .swiper-slide .loading-indicator {
  color: #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
.gallery-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.gallery-container .swiper-slide .gallery-header {
  color: #FFF;
  text-shadow: 0 0 3px black;
  position: fixed;
  top: 10px;
  font-size: 120%;
}
.gallery-container .swiper-slide img, .gallery-container .swiper-slide video, .gallery-container .swiper-slide audio {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.gallery-container .swiper {
  width: 100%;
}
.gallery-container .swiper-main {
  flex-grow: 1;
}
.gallery-container .swiper-thumbs {
  flex-grow: 0;
  flex-shrink: 0;
  height: 20%;
  max-height: 192px;
  min-height: 96px;
  box-sizing: border-box;
}
.gallery-container .swiper-thumbs .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.4;
  user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  background-color: #555;
}
.gallery-container .swiper-thumbs .swiper-slide .gallery-header {
  font-size: 90%;
  max-width: 100%;
  overflow-x: hidden;
  visibility: visible;
}
.gallery-container .swiper-thumbs .swiper-slide img {
  object-fit: cover;
}
.gallery-container .swiper-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.gallery-container .bevel-divider {
  flex-grow: 0;
  flex-shrink: 0;
  height: 8px;
  margin: 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
}
.gallery-container .bevel-divider .bevel-button {
  width: 96px;
  height: 8px;
  border: 0;
  border-radius: 3px;
  background-color: #222;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.admin-phpinfo {
  overflow-x: auto;
}
.admin-phpinfo pre {
  margin: 0;
  font-family: monospace;
}
.admin-phpinfo a:link {
  color: #009;
  text-decoration: none;
  background-color: #fff;
}
.admin-phpinfo a:hover {
  text-decoration: underline;
}
.admin-phpinfo table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.admin-phpinfo td, .admin-phpinfo th {
  border: 1px solid #666;
  font-size: 75%;
  vertical-align: baseline;
  padding: 4px 5px;
}
.admin-phpinfo th {
  position: sticky;
  top: 0;
  background: inherit;
}
.admin-phpinfo h1 {
  font-size: 150%;
}
.admin-phpinfo h2 {
  font-size: 125%;
}
.admin-phpinfo h2 a:link, .admin-phpinfo h2 a:visited {
  color: inherit;
  background: inherit;
}
.admin-phpinfo .p {
  text-align: left;
}
.admin-phpinfo .e {
  background-color: #ccf;
  width: 300px;
  font-weight: bold;
}
.admin-phpinfo .h {
  background-color: #99c;
  font-weight: bold;
}
.admin-phpinfo .v {
  background-color: #ddd;
  max-width: 300px;
  overflow-x: auto;
  word-wrap: break-word;
}
.admin-phpinfo .v i {
  color: #999;
}
.admin-phpinfo img {
  float: right;
  border: 0;
}
.admin-phpinfo hr {
  width: 934px;
  background-color: #ccc;
  border: 0;
  height: 1px;
}

/*# sourceMappingURL=main.css.map */
