@import "theme";

.gallery-container {
  background-color: $color-primary-background;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  /* Controls */

  .gallery-controls {
    position:fixed;
    top: 0;
    right: 0;
    height: $uk-navbar-item-height;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: $color-text-primary;

    button {
      width: 48px;
      height: 48px;
      padding: 0;
      background: transparent;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      color: $color-text-primary;
      &:hover {
        color: $color-text-primary-active;
      }
    }
  }

  .swiper-button-prev, .swiper-button-next {
    color: $color-text-primary;

    &:hover {
      color: $color-text-primary-active;
    }

    .swiper-button-disabled {
      opacity: 0.7;
    }
  }

  .swiper-slide .gallery-header {
    visibility: hidden;
  }
  .swiper:hover .gallery-header {
    visibility: visible;
  }

  .swiper-slide .loading-indicator {
    color: $color-text-primary-shadowed;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
  }

  /* Slides */

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $color-primary-background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;

    .gallery-header {
      color: $color-text-primary-shadowed;
      text-shadow: 0 0 3px $color-primary-background;
      position: fixed;
      top: 10px;
      font-size: 120%;
    }

    img, video, audio {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }

  /* Main / Thumbnail layout */

  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;

  .swiper {
    width: 100%;
  }

  .swiper-main {
    flex-grow: 1;
  }

  .swiper-thumbs {
    flex-grow: 0; flex-shrink: 0;
    height: 20%;
    max-height: 192px;
    min-height: 96px;
    box-sizing: border-box;

    .swiper-slide {
      width: 20%;
      height: 100%;
      opacity: 0.4;
      user-select: none;
      -moz-user-select: none;
      cursor: pointer;
      background-color: $color-text-inactive;

      .gallery-header {
        font-size: 90%;
        max-width: 100%;
        overflow-x: hidden;
        visibility: visible;
      }

      img {
        object-fit: cover;
      }
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  .bevel-divider {
    flex-grow: 0; flex-shrink: 0;
    height: 8px;
    margin: 3px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
    -moz-user-select: none;

    .bevel-button {
      width: 96px;
      height: 8px;
      border: 0;
      border-radius: 3px;
      background-color: $color-text-active;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}