$color-primary-background: black;
$color-text-primary: #D2D2D2;
$color-text-primary-active: darken($color-text-primary, 25);
$color-text-primary-shadowed: #FFF;

$color-background: white;
$color-text: black;
$color-text-inactive: #555;
$color-text-active: #222;

$color-text-success: #32d296;
$color-text-warning: #faa05a;
$color-text-danger: #f0506e;

$color-table-selected: #deebff;
$color-table-focused: #1c457e;

$color-button-border: #e5e5e5;