{% from 'macros/general.twig' import gpartcat %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ view_title is null ? site.title : view_title ~ ' - ' ~ site.title }}</title>

    <link rel="stylesheet" href="/static/lib/merged.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/lib/merged.js"></script>
    <script type="module" src="/static/js/AttachableComponent.js"></script>

    <script type="text/javascript">
        jQuery.timeago.settings.localeTitle = true;
        customElements.define("time-ago", class extends HTMLTimeElement {
            connectedCallback() {
                $(this).timeago();
            }
        }, {extends: "time"})
    </script>

    <script type="text/javascript">
        {% for var, value in exports %}
        var {{ var }} = {{ value|json_encode|raw }};
        {% endfor %}
    </script>

    {% block html_head %}{% endblock %}
</head>
<body>
{% block html_body %}{% endblock %}
</body>
</html>