{% from "macros/general.twig" import timeago_element %}

<ul id="file-details" uk-accordion="collapsible:false">
    <li id="file-details-tab-info" class="uk-open">
        <a class="uk-accordion-title" href="#">Info</a>
        <div class="uk-accordion-content">
            <dl id="selected-file-properties" class="uk-description-list uk-description-list-divider">
                <dt>Size</dt>
                <dd id="file-details-field-size"></dd>

                <dt>Modified</dt>
                <dd id="file-details-field-modified">{{ timeago_element(0) }}</dd>

                <dt>Owner</dt>
                <dd id="file-details-field-owner"></dd>

                <dt>Permissions</dt>
                <dd id="file-details-field-perm"></dd>

                <dt class="deleted-file-only">Deleted at</dt>
                <dd class="deleted-file-only" id="file-details-field-deleted">{{ timeago_element(0) }}</dd>
            </dl>
        </div>
    </li>
    <li id="file-details-tab-versions">
        <a class="uk-accordion-title" href="#">Revisions</a>
        <div class="uk-accordion-content">
            <ul class="uk-list uk-list-striped" id="selected-file-versions">
            </ul>
        </div>
    </li>
    <li id="file-details-tab-shares">
        <a class="uk-accordion-title" href="#">Sharing</a>
        <div class="uk-accordion-content">
            <div id="selected-file-shares-actions" class="toolbar uk-button-group">
                <button class="uk-button uk-button-default uk-button-small" id="selected-file-shares-new"><i uk-icon="plus"></i>New</button>
            </div>
            <ul class="uk-list uk-list-striped" id="selected-file-shares">
            </ul>
        </div>
    </li>
</ul>